.services {
  width: 100vw;
  height: 100vh;
}

.services_title {
  position: absolute;
  width: 461px;
  height: 75px;
  left: 543px;
  top: 89px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #000000;
}
.zolnierze {
  position: absolute;
  width: 149px;
  height: 42px;
  left: 151px;
  top: 245px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: green;
}

.services_obj_1_1 {
  position: absolute;
  width: 88px;
  height: 38px;
  left: 83px;
  top: 511px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: green;
}

.services_obj_1_2 {
  position: absolute;
  width: 255px;
  height: 38px;
  left: 236px;
  top: 511px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: green;
}

.kompanie {
  position: absolute;
  width: 162px;
  height: 42px;
  left: 654px;
  top: 249px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: slateblue;
}

.services_obj_2_1 {
  position: absolute;
  width: 88px;
  height: 38px;
  left: 582px;
  top: 504px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: slateblue;
}
.services_obj_2_2 {
  position: absolute;
  width: 238px;
  height: 38px;
  left: 754px;
  top: 504px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: slateblue;
}

.akademiki {
  position: absolute;
  width: 176px;
  height: 44px;
  left: 1149px;
  top: 241px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: rgb(137, 121, 33);
}

.services_obj_3_1 {
  position: absolute;
  width: 88px;
  height: 38px;
  left: 1081px;
  top: 507px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: rgb(137, 121, 33);
}

.services_obj_3_2 {
  position: absolute;
  width: 297px;
  height: 38px;
  left: 1226px;
  top: 507px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: rgb(137, 121, 33);
}

.mapa_11 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 30px;
  top: 289px;
}

.baza_danych_1 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 254px;
  top: 289px;
}

.baza_danych_2 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 763px;
  top: 293px;
}
.mapa_22 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 526px;
  top: 293px;
}

.baza_danych_3 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1257px;
  top: 296px;
}

.mapa_33 {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1026px;
  top: 296px;
}

.services_obj_1_1:hover {
  color: darkolivegreen;
  font-weight: bold;
}

.services_obj_1_2:hover {
  color: darkolivegreen;
  font-weight: bold;
}

.services_obj_2_1:hover {
  color: darkolivegreen;
  font-weight: bold;
}

.services_obj_2_2:hover {
  color: darkolivegreen;
  font-weight: bold;
}

.services_obj_3_1:hover {
  color: darkolivegreen;
  font-weight: bold;
}

.services_obj_3_2:hover {
  color: darkolivegreen;
  font-weight: bold;
}
